body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

h1, h2, .navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

.btn-success {
    background-color: #39FF14 !important;
    border-color: #39FF14 !important;
    color: black !important;
}

.card {
    background-color: #1a1a1a;
    border: 1px solid #333;
}

/* Estilos personalizados para Level-Up Gamer */